[Unit]
Description=Laguna timelapse frontend
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 laguna_timelapse_frontend.py
WorkingDirectory=/opt/laguna_timelapse/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target